# ------------------------------
# Maven
# ------------------------------
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ------------------------------
# IntelliJ IDEA
# ------------------------------
.idea/
*.iws
*.iml
*.ipr

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# OS-specific files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Java
# ------------------------------
*.class
*.jar
*.war
*.ear

# ------------------------------
# Spring Boot dev tools
# ------------------------------
.spring-boot-devtools.properties
